*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 1% 0;
  background: whitesmoke;
}

.menu,
.inventory {
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 1% 0;
  background: whitesmoke;
}

h2 {
  text-align: center;
}

.main-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-wrap: wrap;
}

.food-item {
  min-width: 300px;
  background: palegoldenrod;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 1% !important;
  font-size: 1.2rem;
}

.food-item p {
  margin: 0;
  padding: 0;
}

.food-item img {
  height: 250px;
  padding: 25px 25px;
}

.inventory-form {
  padding: 5%;
  text-align: initial;
}

.categories {
  display: flex;
  padding: 1% 2.5%;
}

.category {
  flex: 1;
  margin: 0 2%;
}

.category h3 {
  margin: 20px;
}

.menu-item p {
  font-weight: bold;
  text-align: left;
}

.menu-item {
  display: flex;
  flex: 3;
  line-height: 0;
  justify-content: space-around;
}

.my-slides {
  display: none;
}

.Slides {
  display: none;
}

.mySlides {
  display: none;
}