@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:600");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:600");
@import url("https://fonts.googleapis.com/css?family=Lato|Lustria");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --original-color: #ea2b1f;
  --primary-bg-color: #ea2b1f;
  --footer-bg-color: #6b9c07;
}

body {
  font-size: 14px;
  color: firebrick;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.combo1 > * {
  font-family: "Raleway", sans-serif;
}

.combo1 h1,
.combo1 h2,
.combo1 h3,
.combo1 h4,
.combo1 h5,
.combo1 h6 {
  font-family: "Bitter", serif !important;
  font-weight: bold;
}

.combo2 > * {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.combo2 h1,
.combo2 h2,
.combo2 h3,
.combo2 h4,
.combo2 h5,
.combo2 h6 {
  font-family: "Lora", serif !important;
  font-weight: bold;
}

.combo3 > * {
  font-family: "Lato", sans-serif;
}

.combo3 h1,
.combo3 h2,
.combo3 h3,
.combo3 h4,
.combo3 h5,
.combo3 h6 {
  font-family: "Lustria", serif !important;
}

/* App */

.App {
  margin: 0;
  padding: 0;
  padding-top: 1%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .App > * {
  font-family: "Raleway", sans-serif;
}

.App h1,
.App h2,
.App h3,
.App h4,
.App h5,
.App h6 {
  font-family: "Bitter", serif !important;
  font-weight: bold;
} */

/* Header */

.main-header {
  display: flex;
}

.main-header .cuisine {
  flex: 3;
  text-align: center;
  align-self: center;
  position: relative;
  background-color: var(--original-color);
  padding: 25px;
  margin: 0 10%;
  color: #ffffff;
  /* clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%); */
  clip-path: polygon(10% 0, 100% 0, 100% 50%, 90% 100%, 0 100%, 0 50%);
}

.cuisine h1 {
  font-size: 3rem !important;
}

.veg-mark {
  width: 20px;
  height: 20px;
}

.main-header .logo {
  flex: 1;
}

.logo img {
  max-height: 200px;
}

/* Slider */

.slider {
  border: 5px solid salmon;
}

.slide-img {
  width: 100%;
  height: 25vh;
  margin: 0;
  padding: 0;
}

/* Menu */

.menu {
  text-align: center;
  max-width: 100vw;
  margin: 0;
  padding: 1% 0;
  display: flex;
  flex-direction: column;
}

.main-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1%auto;
  padding: 0;
  flex-wrap: wrap;
}

.categories {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* Flex */
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start; */
  /* CSS Grid */
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.category {
  margin: 0;
  padding: 2.5% 10%;
}

.categoryTitle {
  padding: 2.5%;
  background-color: var(--primary-bg-color);
  color: #ffffff;
  /* clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%); */
  clip-path: polygon(10% 0, 100% 0, 100% 50%, 90% 100%, 0 100%, 0 50%);
}

.menu-item p {
  font-weight: bold;
  text-align: left;
  border: 1px solid black;
}

.menu-item {
  display: flex;
  flex: 3;
  line-height: 0;
  justify-content: space-around;
}

/* Item */

.food-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 1% !important;
  font-size: 1.1rem;
}

.food-item p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* Inventory */

.inventory {
  text-align: center;
  max-width: 100vw;
  margin: 0;
  padding: 1% 0;
  background: whitesmoke;
}

.inventoryBtn {
  width: 200px;
  height: 40px;
  margin: 5%;
  padding: 0;
  background-color: palegoldenrod;
  border: 2px solid darkgoldenrod;
  font-weight: bold;
  line-height: 2;
  border-radius: 25px;
}

/* AddItemForm */

.item-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2.5%;
  background-color: navajowhite;
  border: 5px double black;
}

.form-group {
  flex: 1;
  display: flex;
  margin: 0;
  padding: 1%;
}

.form-group > * {
  /* border: 2px solid green; */
  margin: 0;
}

.item-form label {
  flex: 1;
  font-weight: bold;
}

.item-form input,
.item-form select {
  flex: 5;
  border: 2px solid #999;
  padding: 1%;
  border-radius: 1%;
}

.item-form .radio-group {
  flex: 5;
  justify-content: start;
  border-radius: 1%;
}

.item-form .radio-group > * {
  margin: 0;
}

.item-form .radio-group > label {
  margin: 0 2.5%;
}

.item-form .btn-group {
  margin: 0 auto;
  display: flex;
}

.item-form .btn-group > button {
  width: 100px;
  height: 40px;
  margin: 5%;
  padding: 0;
  background-color: palegoldenrod;
  border: 2px solid darkgoldenrod;
  font-weight: bold;
  line-height: 2;
  border-radius: 10px;
}

/* EditItemForm */

.editItemForm {
  background-color: navajowhite;
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
  padding: 1%;
  display: flex;
}

.editItemForm > * {
  flex: 1;
  margin: 0 1%;
}

.editItemForm #editRadioGrp {
  flex: 2;
  justify-content: center;
  align-items: center;
}

#editRadioGrp > label {
  margin: 0 10% 0 2.5%;
}

#editRadioGrp > input {
  flex: 1;
}

.title {
  margin: 1% auto;
}

.editFormBtn {
  flex: 0.5;
  padding: 0;
  background-color: palegoldenrod;
  border: 2px solid darkgoldenrod;
  font-weight: bold;
  line-height: 2;
  border-radius: 10px;
}

.form-category {
  margin: 2.5% auto;
}

.form-category h3 {
  margin: 1% auto;
}

/* Footer */

.main-footer {
  background-color: var(--footer-bg-color);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3%;
}

.main-footer .message {
  margin: 2.5% 5%;
  text-align: center;
}
